@import "variables.scss";
@import "mixins.scss";

h1{
    color: $warning;
}

h2{
    color: $dark;
}

h3{
    color: $cool;

    &:hover{
        color: $warning;
    }
}

p{
    color: $dark;
}

.style1{
    padding: 10px;  
    border: 1px solid $dark;
}

.preamble{
    @extend.style1;
    background: rgb(255, 186, 232);
}

.explanation{
    @extend.style1;
    background: rgb(216, 216, 216);
}