@import "variables.scss";
@import "mixins.scss";

h1{
    color: $warning;
    @include titre;
}

h2{
    color: $dark;
}

h3{
    color: $cool;

    &:hover{
        color: $warning;
    }
}

p{
    color: $dark;
}

.style1{
    padding: 10px;  
    border: 1px solid $dark;
}

.preamble{
    @extend.style1;
    background: $pink;
}

.main{
    background: $grey;
    padding: 30px;

    .explanation{
        @extend.style1;
        background: $grey;
        
        &:hover{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .participation{
        @extend.style1;
        background: $pink;

        &:hover{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}